@model XamPass.Models.ViewModels.ViewModelSearch

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "XamPass - Home";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</head>

<body>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="container" style="padding-left:0px; padding-right:0px">
            <div class="col-md-7">
                <div class="row">
                    <h3>@Localizer["Search"]</h3>
                </div>
                <div class="form-group">
                    <div class="row input-cell-name">
                        @Localizer["Country"]
                    </div>
                    <div class="row">
                        <input readonly value="@Localizer["Germany"]" class="form-control col-md-2 input-cell" style="padding-left:16px;" />
                    </div>
                    <div class="row input-cell-name">
                        @Localizer["FederalState"]
                    </div>
                    <div class="row">
                        @Html.DropDownListFor(m => m.FederalStateId, Model.FederalStates, Localizer["SelectFederalState"].Value, new
                        {
                            @class = "form-control col-md-2 dropdown-toggle col input-cell",
                            @onchange = "this.form.submit();"
                        })
                    </div>
                    <div class="row input-cell-name">
                        @Localizer["University"]
                    </div>
                    <div class="row">
                        @Html.DropDownListFor(m => m.UniversityId, Model.Universities, Localizer["SelectUniversity"].Value, new
                        {
                            @class = "form-control col-md-2 dropdown-toggle col input-cell",
                            @onchange = "this.form.submit();"
                        })
                    </div>
                    <div class="row input-cell-name">
                        @Localizer["FieldOfStudies"]
                    </div>
                    <div class="row">
                        @Html.DropDownListFor(m => m.FieldOfStudiesId, Model.FieldsOfStudies, Localizer["SelectFieldOfStudies"].Value, new
                        {
                            @class = "form-control col-md-2 dropdown-toggle col input-cell",
                            @onchange = "this.form.submit();"
                        })
                    </div>
                    <div class="row input-cell-name">
                        @Localizer["Subject"]
                    </div>
                    <div class="row">
                        @Html.DropDownListFor(m => m.SubjectId, Model.Subjects, Localizer["SelectSubject"].Value, new
                        {
                            @class = "form-control col-md-2 dropdown-toggle col input-cell",
                            @onchange = "this.form.submit();"
                        })
                    </div>
                    <div class="row">
                        <button id="submitBtn" type="submit" formaction=@Url.Action("ShowQuestions", "Home") class="btn">
                            @Localizer["Search"]
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>

            <div class="col-md-2" id="colNewEntry">
                <h3>@Localizer["NewEntry"]</h3>
                <div class="row" style="margin-left:0px;margin-right:0px;">
                    <button type="submit" id="newEntryBtn" formaction=@Url.Action("CreateQuestion", "Home") formmethod="post" class="btn">
                        @Localizer["AddNewEntry"]
                    </button>
                </div>
            </div>

            @if (@Model.SearchExecuted)
            {
                <asp:PlaceHolder id="DivINeedToAddStuffTo" runat="server">
                </asp:PlaceHolder>

                <div class="row" style="margin-left: 0px;margin-right: 0px">
                    <div class="question-wrapper-header">
                        <div class="question-header-text-beginning" style="padding-left:5px;">Fragen</div>
                    </div>
                    @foreach (var item in Model.Questions)
                    {
                        <div class="row question-wrapper">
                            <div class="col-sm-8" style="padding-left:0px;">
                                @if (!String.IsNullOrEmpty(item.Title))
                                {
                                    <div class="question-header-text-title">@item.Title</div>
                                }
                                <div class="question">
                                    <a asp-action="ViewQuestion" asp-route-id="@item.QuestionID" class="question-header-text-beginning">@item.Content</a>
                                    <br>
                                </div>
                            </div>
                            <div class="col-sm-4" style="padding-left:0px;padding-right:0px;text-align:right;">
                                <div class="question">@item.FieldOfStudies.FieldOfStudiesName - @item.Subject.SubjectName </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    }
</body>