@model XamPass.Models.ViewModels.ViewModelQuestion

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "ViewQuestion";
}

@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/viewQuestion.css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</head>

<body>
    <h1>@Localizer["Question"]</h1>

    <div class="container" style="padding-left:0px;padding-right:0px">
        @using (Html.BeginForm("ViewQuestion", "Home", FormMethod.Post))
        {
            <div class="row">
                <div id="questionContent" style="width:100%;">
                    <div class="card card-custom">
                        <div class="card-body" style="padding:10px;">
                            <div class="card-header">
                                @Localizer["Info"]
                            </div>
                            <div style="width:100%;display:inline-block;">
                                <div style="display:inline-block;">
                                    @Localizer["FieldOfStudies"]
                                </div>
                                <div style="display:inline-block;float:right;">
                                    @Model.FieldOfStudies.FieldOfStudiesName
                                </div>
                            </div>
                            <div style="width:100%;display:inline-block;">
                                <div style="display:inline-block;">
                                    @Localizer["Subject"]
                                </div>
                                <div style="display:inline-block;float:right; max-width:100pt;white-space: normal;text-align:right;">
                                    @Model.Subject.SubjectName
                                </div>
                            </div>
                            <div style="width:100%;display:inline-block;">
                                <div style="display:inline-block;">
                                    @Localizer["CreationDate"]
                                </div>
                                <div style="display:inline-block;float:right;">
                                    @Model.Question.SubmissionDate.ToShortDateString()
                                </div>
                            </div>
                            <hr style="margin:5px 0px 5px 0px" />
                            <div style="width:100%;display:inline-block;">
                                <div style="display:inline-block;">
                                    @Localizer["University"]
                                </div>
                                <div style="display:inline-block;float:right;">
                                    @Model.University.UniversityName
                                </div>
                            </div>
                            <div style="width:100%;display:inline-block;">
                                <div style="display:inline-block;">
                                    @Localizer["Country"]
                                </div>
                                <div style="display:inline-block;float:right;">
                                    @Localizer["Germany"]
                                </div>
                            </div>
                            <div style="width:100%;display:inline-block;">
                                <div style="display:inline-block;">
                                    @Localizer["FederalState"]
                                </div>
                                <div style="display:inline-block;float:right;">
                                    @Model.FederalState.FederalStateName
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="question">
                        @Model.Question.Content
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-ext-answer" type="button" data-toggle="collapse" data-target="#collapseAwnser" aria-expanded="false">
                    @Localizer["ShowQuestion"]
                </button>
                <div class="collapse" id="collapseAwnser">
                    <div class="">
                        <ul>
                            @foreach (var item in Model.Answers)
                            {
                                <li>@item.Content</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-ext-answer" type="button" data-toggle="collapse" data-target="#collapseAnswerInput" aria-expanded="false">
                    @Localizer["AddAnswer"]
                </button>
                <div class="collapse" id="collapseAnswerInput">
                    <div class="input-cell-name-big">
                        @Html.TextAreaFor(m => m.Answer.Content, 10, 40, new { @class = "input-cell-big" })
                    </div>
                    <div width="100%" style="text-align:left;">
                        @Html.HiddenFor(m => Model.QuestionId)
                        <input type="submit" id="createBtn" value=@Localizer["Create"] formmethod="post" class="btn" />
                    </div>
                </div>
            </div>
        }
    </div>
</body>